header {
  // background-color: rgb(217 235 250);
  
  border-bottom: 1px solid #9f9f9f;
  padding: 10px 0;
  margin-bottom: 20px;
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}